USE [master]
GO
/****** Object:  Database [it_ticketdb]    Script Date: 10/23/2021 11:42:54 PM ******/
CREATE DATABASE [it_ticketdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'it_ticketdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\it_ticketdb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'it_ticketdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\it_ticketdb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [it_ticketdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [it_ticketdb]
GO
/****** Object:  Schema [notifications]    Script Date: 10/23/2021 11:42:55 PM ******/
CREATE SCHEMA [notifications]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicationSettings]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationSettings](
	[ApplicationName] [nvarchar](128) NOT NULL,
	[PermissionsSettingsJson] [nvarchar](max) NULL,
	[SelectListSettingsJson] [nvarchar](max) NULL,
	[SecuritySettingsJson] [nvarchar](max) NULL,
	[ClientSettingsJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ApplicationSettings] PRIMARY KEY CLUSTERED 
(
	[ApplicationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityRoles]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityUserClaims]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IdentityUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityUserLogins]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityUserRoles]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityUsers]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUsers](
	[Id] [nvarchar](128) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[TelegramUserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IdentityUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](100) NOT NULL,
	[ProjectDescription] [nvarchar](500) NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TicketEventNotifications]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketEventNotifications](
	[TicketId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[SubscriberId] [nvarchar](256) NOT NULL,
	[IsNew] [bit] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.TicketEventNotifications] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC,
	[EventId] ASC,
	[SubscriberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TicketEvents]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketEvents](
	[TicketId] [int] NOT NULL,
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventDescription] [nvarchar](500) NULL,
	[Comment] [nvarchar](max) NULL,
	[IsHtml] [bit] NOT NULL,
	[EventBy] [nvarchar](256) NOT NULL,
	[EventDate] [datetimeoffset](7) NOT NULL DEFAULT (sysdatetimeoffset()),
	[Version] [timestamp] NOT NULL,
	[ForActivity] [int] NOT NULL DEFAULT ((16384)),
 CONSTRAINT [PK_dbo.TicketEvents] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[TicketType] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
	[IsHtml] [bit] NOT NULL,
	[TagList] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL DEFAULT (sysdatetimeoffset()),
	[Owner] [nvarchar](256) NOT NULL,
	[AssignedTo] [nvarchar](256) NULL,
	[TicketStatus] [int] NOT NULL,
	[CurrentStatusDate] [datetimeoffset](7) NOT NULL,
	[CurrentStatusSetBy] [nvarchar](256) NOT NULL,
	[LastUpdateBy] [nvarchar](256) NOT NULL,
	[LastUpdateDate] [datetimeoffset](7) NOT NULL,
	[Priority] [nvarchar](25) NULL,
	[AffectsCustomer] [bit] NOT NULL,
	[Version] [timestamp] NOT NULL,
	[ProjectId] [int] NOT NULL DEFAULT ((1)),
	[DueDate] [datetimeoffset](7) NULL,
	[EstimatedDuration] [decimal](18, 2) NULL,
	[ActualDuration] [decimal](18, 2) NULL,
	[TargetDate] [datetimeoffset](7) NULL,
	[ResolutionDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_dbo.Tickets] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TicketSubscribers]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketSubscribers](
	[TicketId] [int] NOT NULL,
	[SubscriberId] [nvarchar](256) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_dbo.TicketSubscribers] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC,
	[SubscriberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TicketTags]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketTags](
	[TicketTagId] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](100) NOT NULL,
	[TicketId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TicketTags] PRIMARY KEY CLUSTERED 
(
	[TicketTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ContactNo] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[UserStatus] [int] NOT NULL,
	[CreationDate] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[UserId] [nvarchar](256) NOT NULL,
	[ListSettingsJson] [nvarchar](max) NULL,
	[SelectedProjectId] [int] NULL,
 CONSTRAINT [PK_dbo.UserSettings] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [notifications].[ApplicationPushNotificationSettings]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [notifications].[ApplicationPushNotificationSettings](
	[ApplicationName] [nvarchar](128) NOT NULL,
	[PushNotificationSettingsJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_notifications.ApplicationPushNotificationSettings] PRIMARY KEY CLUSTERED 
(
	[ApplicationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [notifications].[PushNotificationDestinations]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [notifications].[PushNotificationDestinations](
	[DestinationId] [int] IDENTITY(1,1) NOT NULL,
	[SubscriberName] [nvarchar](100) NULL,
	[DestinationAddress] [nvarchar](256) NULL,
	[DestinationType] [nvarchar](50) NULL,
	[SubscriberId] [nvarchar](256) NULL,
 CONSTRAINT [PK_notifications.PushNotificationDestinations] PRIMARY KEY CLUSTERED 
(
	[DestinationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [notifications].[PushNotificationItems]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [notifications].[PushNotificationItems](
	[ContentSourceId] [int] NOT NULL,
	[PushNotificationItemId] [int] IDENTITY(1,1) NOT NULL,
	[ContentSourceType] [nvarchar](100) NOT NULL,
	[SubscriberId] [nvarchar](256) NOT NULL,
	[DestinationId] [int] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[ScheduledSendDate] [datetimeoffset](7) NULL,
	[DeliveryStatus] [int] NOT NULL,
	[RetryCount] [int] NOT NULL,
	[MessageContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_notifications.PushNotificationItems] PRIMARY KEY CLUSTERED 
(
	[PushNotificationItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [notifications].[SubscriberPushNotificationSettings]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [notifications].[SubscriberPushNotificationSettings](
	[SubscriberId] [nvarchar](256) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_notifications.SubscriberPushNotificationSettings] PRIMARY KEY CLUSTERED 
(
	[SubscriberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [notifications].[TicketPushNotificationItems]    Script Date: 10/23/2021 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [notifications].[TicketPushNotificationItems](
	[PushNotificationItemId] [int] NOT NULL,
	[TicketEventsList] [nvarchar](max) NULL,
	[CanceledEventsList] [nvarchar](max) NULL,
 CONSTRAINT [PK_notifications.TicketPushNotificationItems] PRIMARY KEY CLUSTERED 
(
	[PushNotificationItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[IdentityRoles] ([Id], [Name], [DisplayName], [Description], [Discriminator]) VALUES (N'087f5db8-87e6-49af-82f2-a4cabd8f3889', N'TdAdministrators', N'Administrator', N'Can manage settings, users, and access application logs', N'TicketDeskRole')
GO
INSERT [dbo].[IdentityRoles] ([Id], [Name], [DisplayName], [Description], [Discriminator]) VALUES (N'1eaf6bcc-1467-40ba-bdc5-90230d5b535b', N'TdInternalUsers', N'Internal User', N'Can submit tickets and view all existing tickets.', N'TicketDeskRole')
GO
INSERT [dbo].[IdentityRoles] ([Id], [Name], [DisplayName], [Description], [Discriminator]) VALUES (N'4e15c55c-153a-4119-9651-953d6d95c07d', N'TdPendingUsers', N'Pending Approval', N'Users that have registered, but who''s accounts have not been approved by an Administrator.', N'TicketDeskRole')
GO
INSERT [dbo].[IdentityUserRoles] ([UserId], [RoleId]) VALUES (N'64165817-9cb5-472f-8bfb-6a35ca54be6a', N'087f5db8-87e6-49af-82f2-a4cabd8f3889')
GO
INSERT [dbo].[IdentityUserRoles] ([UserId], [RoleId]) VALUES (N'17f78f38-fa68-445f-90de-38896140db28', N'1eaf6bcc-1467-40ba-bdc5-90230d5b535b')
GO
INSERT [dbo].[IdentityUserRoles] ([UserId], [RoleId]) VALUES (N'72bdddfb-805a-4883-94b9-aa494f5f52dc', N'cafeb25c-e85d-436f-8dc8-85e5e90ab22f')
GO
INSERT [dbo].[IdentityUsers] ([Id], [DisplayName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [TelegramUserId]) VALUES (N'17f78f38-fa68-445f-90de-38896140db28', N'Regular User', N'user@example.com', 0, N'AJ5I8TVvEpMqijDaUat0XmjxJ0QpOUYAtNWrP12cMrU3Ek9YabmRo2AsHHAKH2OGzw==', N'ad10d60c-eca7-4f25-979e-81272894ed5f', NULL, 0, 0, NULL, 1, 0, N'user@example.com', NULL)
GO
INSERT [dbo].[IdentityUsers] ([Id], [DisplayName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [TelegramUserId]) VALUES (N'64165817-9cb5-472f-8bfb-6a35ca54be6a', N'Admin User', N'admin@example.com', 0, N'APdWD3lkM1+6aQ/0Tolh88HyuPsC5+ovEPIuGThg905YO8VZ6iXj1fsDPqaISWO3ng==', N'9e26a1f0-9fee-4528-907c-c4559e79d821', NULL, 0, 0, NULL, 1, 0, N'admin@example.com', NULL)
GO
INSERT [dbo].[IdentityUsers] ([Id], [DisplayName], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [TelegramUserId]) VALUES (N'72bdddfb-805a-4883-94b9-aa494f5f52dc', N'HelpDesk User', N'staff@example.com', 0, N'ADi3PChVj3qAo9E/mr+C5f6luPLOVnmjxTVpBEjsOlQg/I2asIgf5EplhTwpPEBglQ==', N'a8730768-99d4-479a-a6d7-966533ea4725', NULL, 0, 0, NULL, 1, 0, N'staff@example.com', NULL)
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

GO
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [ProjectDescription]) VALUES (1, N'Default', N'Default project')
GO
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [ProjectDescription]) VALUES (7, N'NullSoft', N'NullSoft Rocks')
GO
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
INSERT [dbo].[TicketEventNotifications] ([TicketId], [EventId], [SubscriberId], [IsNew], [IsRead]) VALUES (155, 141, N'160c34e0-40f7-465b-b2da-53ce72667114', 0, 1)
GO
INSERT [dbo].[TicketEventNotifications] ([TicketId], [EventId], [SubscriberId], [IsNew], [IsRead]) VALUES (155, 141, N'1c562408-2209-4d0e-bca6-32c0714bea82', 1, 0)
GO
INSERT [dbo].[TicketEventNotifications] ([TicketId], [EventId], [SubscriberId], [IsNew], [IsRead]) VALUES (155, 142, N'160c34e0-40f7-465b-b2da-53ce72667114', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[TicketEvents] ON 

GO
INSERT [dbo].[TicketEvents] ([TicketId], [EventId], [EventDescription], [Comment], [IsHtml], [EventBy], [EventDate], [ForActivity]) VALUES (114, 98, N'created the ticket', NULL, 0, N'17f78f38-fa68-445f-90de-38896140db28', CAST(N'2021-10-22T20:09:55.1186259+06:00' AS DateTimeOffset), 32768)
GO
INSERT [dbo].[TicketEvents] ([TicketId], [EventId], [EventDescription], [Comment], [IsHtml], [EventBy], [EventDate], [ForActivity]) VALUES (115, 99, N'created the ticket', NULL, 0, N'17f78f38-fa68-445f-90de-38896140db28', CAST(N'2021-10-22T20:09:55.1967291+06:00' AS DateTimeOffset), 32768)
GO
INSERT [dbo].[TicketEvents] ([TicketId], [EventId], [EventDescription], [Comment], [IsHtml], [EventBy], [EventDate], [ForActivity]) VALUES (116, 100, N'created the ticket', NULL, 0, N'64165817-9cb5-472f-8bfb-6a35ca54be6a', CAST(N'2021-10-22T20:09:55.4466448+06:00' AS DateTimeOffset), 32768)
GO
SET IDENTITY_INSERT [dbo].[TicketEvents] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

GO
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
INSERT [dbo].[TicketSubscribers] ([TicketId], [SubscriberId]) VALUES (155, N'160c34e0-40f7-465b-b2da-53ce72667114')
GO
INSERT [dbo].[TicketSubscribers] ([TicketId], [SubscriberId]) VALUES (155, N'1c562408-2209-4d0e-bca6-32c0714bea82')
GO
INSERT [dbo].[TicketSubscribers] ([TicketId], [SubscriberId]) VALUES (158, N'160c34e0-40f7-465b-b2da-53ce72667114')
GO
SET IDENTITY_INSERT [dbo].[TicketTags] ON 

GO
INSERT [dbo].[TicketTags] ([TicketTagId], [TagName], [TicketId]) VALUES (151, N'test', 114)
GO
INSERT [dbo].[TicketTags] ([TicketTagId], [TagName], [TicketId]) VALUES (152, N'moretest', 114)
GO
INSERT [dbo].[TicketTags] ([TicketTagId], [TagName], [TicketId]) VALUES (153, N'test', 115)
GO
SET IDENTITY_INSERT [dbo].[TicketTags] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfiles] ON 

GO
INSERT [dbo].[UserProfiles] ([Id], [UserId], [ContactNo], [FirstName], [LastName], [UserName], [UserStatus], [CreationDate], [Email]) VALUES (41, 723336095, N'+8801710352226', N'Taskin', N'Khaleque', N'', 1, N'10/21/2021 4:41:33 PM', N'taskin.khaleque@summitcommunications.net')
GO
INSERT [dbo].[UserProfiles] ([Id], [UserId], [ContactNo], [FirstName], [LastName], [UserName], [UserStatus], [CreationDate], [Email]) VALUES (42, 1854729059, N'', N'Nowshin', N'Laila', N'', 1, N'10/21/2021 4:55:27 PM', N'nowshin.laila@summitcommunications.net')
GO
SET IDENTITY_INSERT [dbo].[UserProfiles] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[IdentityRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[IdentityUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[IdentityUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[IdentityUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[IdentityUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[IdentityUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_EventId] ON [dbo].[TicketEventNotifications]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SubscriberUserName]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubscriberUserName] ON [dbo].[TicketEventNotifications]
(
	[SubscriberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketId_EventId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_TicketId_EventId] ON [dbo].[TicketEventNotifications]
(
	[TicketId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TicketId_SubscriberId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_TicketId_SubscriberId] ON [dbo].[TicketEventNotifications]
(
	[TicketId] ASC,
	[SubscriberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_TicketId] ON [dbo].[TicketEvents]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[Tickets]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_TicketId] ON [dbo].[TicketSubscribers]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_TicketId] ON [dbo].[TicketTags]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SubscriberDestination]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SubscriberDestination] ON [notifications].[PushNotificationDestinations]
(
	[SubscriberName] ASC,
	[DestinationAddress] ASC,
	[DestinationType] ASC,
	[SubscriberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PushNotificationTarget]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_PushNotificationTarget] ON [notifications].[PushNotificationItems]
(
	[ContentSourceId] ASC,
	[ContentSourceType] ASC,
	[SubscriberId] ASC,
	[DestinationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PushNotificationItemId]    Script Date: 10/23/2021 11:43:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_PushNotificationItemId] ON [notifications].[TicketPushNotificationItems]
(
	[PushNotificationItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IdentityUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.IdentityUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityUserClaims] CHECK CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.IdentityUsers_UserId]
GO
ALTER TABLE [dbo].[IdentityUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.IdentityUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityUserLogins] CHECK CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.IdentityUsers_UserId]
GO
ALTER TABLE [dbo].[IdentityUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[IdentityRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_RoleId]
GO
ALTER TABLE [dbo].[IdentityUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityUsers_UserId]
GO
ALTER TABLE [dbo].[TicketEventNotifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TicketEventNotifications_dbo.TicketEvents_TicketId_EventId] FOREIGN KEY([TicketId], [EventId])
REFERENCES [dbo].[TicketEvents] ([TicketId], [EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketEventNotifications] CHECK CONSTRAINT [FK_dbo.TicketEventNotifications_dbo.TicketEvents_TicketId_EventId]
GO
ALTER TABLE [dbo].[TicketEventNotifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TicketEventNotifications_dbo.TicketSubscribers_TicketId_SubscriberId] FOREIGN KEY([TicketId], [SubscriberId])
REFERENCES [dbo].[TicketSubscribers] ([TicketId], [SubscriberId])
GO
ALTER TABLE [dbo].[TicketEventNotifications] CHECK CONSTRAINT [FK_dbo.TicketEventNotifications_dbo.TicketSubscribers_TicketId_SubscriberId]
GO
ALTER TABLE [dbo].[TicketEvents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TicketComments_dbo.Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketEvents] CHECK CONSTRAINT [FK_dbo.TicketComments_dbo.Tickets_TicketId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tickets_dbo.Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_dbo.Tickets_dbo.Projects_ProjectId]
GO
ALTER TABLE [dbo].[TicketSubscribers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TicketSubscribers_dbo.Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketSubscribers] CHECK CONSTRAINT [FK_dbo.TicketSubscribers_dbo.Tickets_TicketId]
GO
ALTER TABLE [dbo].[TicketTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TicketTags_dbo.Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketTags] CHECK CONSTRAINT [FK_dbo.TicketTags_dbo.Tickets_TicketId]
GO
ALTER TABLE [notifications].[PushNotificationDestinations]  WITH CHECK ADD  CONSTRAINT [FK_notifications.PushNotificationDestinations_notifications.SubscriberPushNotificationSettings_SubscriberId] FOREIGN KEY([SubscriberId])
REFERENCES [notifications].[SubscriberPushNotificationSettings] ([SubscriberId])
GO
ALTER TABLE [notifications].[PushNotificationDestinations] CHECK CONSTRAINT [FK_notifications.PushNotificationDestinations_notifications.SubscriberPushNotificationSettings_SubscriberId]
GO
ALTER TABLE [notifications].[PushNotificationItems]  WITH CHECK ADD  CONSTRAINT [FK_notifications.PushNotificationItems_notifications.PushNotificationDestinations_DestinationId] FOREIGN KEY([DestinationId])
REFERENCES [notifications].[PushNotificationDestinations] ([DestinationId])
ON DELETE CASCADE
GO
ALTER TABLE [notifications].[PushNotificationItems] CHECK CONSTRAINT [FK_notifications.PushNotificationItems_notifications.PushNotificationDestinations_DestinationId]
GO
ALTER TABLE [notifications].[TicketPushNotificationItems]  WITH CHECK ADD  CONSTRAINT [FK_notifications.TicketPushNotificationItems_notifications.PushNotificationItems_PushNotificationItemId] FOREIGN KEY([PushNotificationItemId])
REFERENCES [notifications].[PushNotificationItems] ([PushNotificationItemId])
GO
ALTER TABLE [notifications].[TicketPushNotificationItems] CHECK CONSTRAINT [FK_notifications.TicketPushNotificationItems_notifications.PushNotificationItems_PushNotificationItemId]
GO
USE [master]
GO
