@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TicketDesk.Localization.Views.TicketCenter

@model  TicketCenterListViewModel

@using TicketDesk.Web.Client.Models
<link href="~/Content/my-tab.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .select2-container .select2-selection--single {
        height: auto;
    }
</style>

<main style="display: none;">
    <div class="card-header">
        @Html.Partial("_FilterBar")
    </div>
    @Html.Partial("_ListMenu", Model, new ViewDataDictionary
        {
            { "CurrentListSettings", Model.CurrentListSetting }
        })
</main>

@section scripts{

    @Scripts.Render("~/bundles/ticketcenter")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.controller-name').html('Ticket');
            $('.controller-action').html('Ticket Center');
            $('main').show();

            $("#TicketStatus").select2();
            $("#AssignedTo").select2();
            $("#Owner").select2();
            $("#PageSize").select2();

            $.ajaxSetup({ cache: false });
            ticketCenter.filters.setupFilterForm();
            ticketCenter.makeClicky();
        });

        function timedRefresh(timeoutPeriod) {
            setTimeout(function () {
                location.reload(true);
            }, timeoutPeriod);
        }

    </script>
}