@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TicketDesk.Localization.Views.TicketCenter

@model  TicketCenterListViewModel

@using TicketDesk.Web.Client.Models

@*@section title{ @Index.Title }s*@

<main style="display: none;">
    <br /><br />
    @Html.Partial("_ListMenu", Model.UserListSettings, new ViewDataDictionary
        {
            { "CurrentListSettings", Model.CurrentListSetting }
        })

    @Html.Partial("_TicketList", Model)

</main>

@section scripts{

    @Scripts.Render("~/bundles/ticketcenter")
    <script type="text/javascript">

        $(document).ready(function () {
            $('.controller-name').html('Ticket');
            $('.controller-action').html('Ticket Center');
            $('main').show();
            $.ajaxSetup({ cache: false });
            ticketCenter.filters.setupFilterForm();
            ticketCenter.makeClicky();
        });

        function timedRefresh(timeoutPeriod) {
            setTimeout(function () {
                location.reload(true);
            }, timeoutPeriod);
        }

    </script>
}